body {
  background-color: beige;
  min-width: 500px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
}

.border {
  border-radius: 10%;
}

header {
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: "Satisfy", cursive;
  letter-spacing: 1px;
  padding: 40px;
  background-color: rgb(94, 94, 186);
  border-radius: 50%;
  width: 200px;
  margin: 0 auto 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#price {
  font-size: 1.5em;
  color: rgb(101, 101, 227);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#price::placeholder {
  color: #999;
  font-style: italic;
  font-size: 0.7em;
}

button {
  background-color: #4c598e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #e60000;
}

small {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: red;
}

#instructions {
  color: white;
  text-align: center;
}
.instruction {
  padding: 20px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 1.2em;
}
.more {
  background-color: #f67280;
}
.less {
  background-color: #ffa372;
}
.done {
  background-color: #0c9463;
}
